.App {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f6d254;
}

.searchbar{
  margin-top: 1.2rem;
}

.searchbar input{
  border-radius: 3rem;
  outline: none;
  border: none;
  /* background-color: #56cbd3; */
  padding: 0.6rem;
}
.searchbar button{
  
  font-family: arial;
  color: #CFF5FF !important;
  font-size: 14px;
  text-shadow: 1px 1px 10px #000000;
  box-shadow: 3px 4px 7px #BEE2F9;
  padding: 4px 15px;
  border-radius: 15px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: 0.4rem;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}





@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.other{
  margin-top: 5rem;
  color: white;
}

.d {
  -webkit-box-shadow: 8px 4px 30px 9px rgba(104, 216, 255, 0.82);
  box-shadow: 8px 4px 30px 9px rgba(104, 216, 255, 0.82);
  border-radius: 2rem;
  background-color: #ef5d50;
  height: 39rem;
  width: 33rem;
}


.searchbar button:hover{
  color: #14396A !important;
  background: #2BCFCF;
  background: linear-gradient(to top, #2BCFCF, #A3EE40);
}







@media only screen and (max-width: 950px) {
  .d {
    font-size: 1.5rem;
    width: 39rem;
  }
}